.success {
  color: whitesmoke;
  background: #319795;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  font-weight: bold;
}

.error {
  color: whitesmoke;
  background: rgb(214, 80, 80);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  font-weight: bold;
}

.blog {
  border-style: solid;
  border-width: thin;
  margin: 2px 0px;
  padding: 5px;
}
